@{
    ViewBag.Title = "Administrador";
}
<h1 align="center">Bem-vindo!</h1><br>

<h2 align="center">O que deseja fazer?</h2>
<br>

<form asp-action="Index" align="center">
    <div align="center">
        <input asp-action="Descontos" type="submit" value="Descontos" />
        <input asp-action="Relatorios" type="submit" value="Relatórios" />
    </div>
</form>