@model IEnumerable<ParqueBLL.Entrada>

@{
    ViewData["Title"] = "Não foi possível entrar com esse passaporte";
}

    <h1 align ="center">Não foi possível entrar com esse passaporte</h1>
    <form asp-action="Index">
        <input type="submit" value="Voltar" class="btn btn-primary" />
    </form>